.title1 {
    background-color: #EFD9D1;
    padding-top: 20px;
    padding-bottom: 15px;
    line-height: 2;
}

.navbar {
    background-color: #EFD9D1;
}

.profile-photo {
    width:42%;
}

section {
    background-color: #F4EEED;
    padding-top: 30px;
    padding-bottom: 30px;
}

body {
    text-align: center;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 2.5rem;
}

h3 {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 1.8rem;
}

p {
    font-family: 'Montserrat', sans-serif;
}

#ptitle {
    font-size: 1.2rem;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 6px;
    border-color:#DDB7AB;
    width: 20%;
    text-align: center;
    margin: 0 auto 0;
    opacity: 100;
    margin: 30px auto 30px auto;
}

#profile {
    margin-top: 10px;
}