body {
    background-color: #EEF1FF;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #645CAA;
    border-width: 7px;
    width: 25%;
}
header {
    background-color: #D2DAFF;
}

nav {
    background-color: #AAC4FF;
    font-style: bold;
    
}
h3{
    color: #645CAA;
}