body {
    background-color: #EEF1FF;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #645CAA;
    border-width: 7px;
    width: 25%;
}
header {
    background-color: #D2DAFF;
}

nav {
    background-color: #AAC4FF;
}

h3{
    color: #645CAA;
}

section {
    background-color: #B1B2FF;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: black;
}

.articulo:hover {
    width: 17%;
    height: 17%;
}

.barra:hover {
    color: #256D85;
}

.rs:hover {
    transform:scale(1.5);
}

.rs {
    transition:250ms;
}