#title {
    background-color: #EFD9D1;
}
    
.title1 {
    padding-top: 1%;
    line-height: 2;
}

.container-fluid {
    padding: 1% 15%;
}

.navbar {
    background-color: #EFD9D1;
}

.profile-photo {
    width:65%;
    border-radius: 10%;
}

#body {
    background-color: #F4EEED;
   
}

body {
    text-align: center;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 2.5rem;
}

h3 {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 1.8rem;
}

p {
    font-family: 'Montserrat', sans-serif;
}

#ptitle {
    font-size: 1.2rem;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 6px;
    border-color:#DDB7AB;
    width: 20%;
    text-align: center;
    margin: 0 auto 0;
    opacity: 100;
    margin: 30px auto 30px auto;
}

.tipeacc {
    height: 80%;
    border-radius: 10%;
    transition: all 300ms;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 2%;   
    font-weight: bold;
}

.nup {
    margin-bottom: 3%;
}

.juntas {
    padding-bottom: 3%;
}

.jyh {
    width: 70%;
    border-radius: 10%;
}

.third-container {
    padding-bottom: 4%;
}
.RS {
    background-color: #EFD9D1;
    padding-top: 3%;
    padding-bottom: 3%;   
}

.nav-link {
    margin-right: 1px;
}

a{
    text-decoration: none;
}

.phone-number {
    padding-top: 1%;
}

.autor {
    font-size: 0.8rem;
}

.navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    font-weight: bolder;
}

.nav-link :hover {
    transform: scale(1.15);
}

.acc :hover {
    transform: scale(1.03);
}

.RS1 {
    transition: all 300ms;
}